* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 40px;
    line-height: 1.4em;
    color:rgb(25, 25, 25)
}

h1 {
    font-size: 54px;
    font-weight: 800;
    text-align: center;
    line-height: 1em;
    color: rgb(252, 100, 100);
}

h2 {
    font-size: 12px;
    font-weight: 800;
    color: rgb(253, 163, 163);
    text-transform: uppercase;
    margin-top: 20px;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgb(223, 223, 223);
}

li {
    margin-bottom: 10px;
}

a:active,
a:link,
a:visited {
    color: rgb(223, 223, 223);
}

a:hover,
.recipe-thumbnail p:hover {
    color: rgb(252, 100, 100);
}

a {
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
}

.footer {
    text-align: center;
}

.recipe-cover {
    object-fit: cover;
    height: 240px;
    width: 400px;
    display: block;
    margin: 0 auto;
}

.recipe-thumbnail {
    display: inline-block;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 20px;
}

.recipe-thumbnail p {
    font-size: 16px;
    text-align: center;
    color: rgb(25, 25, 25);
    margin: 0 auto;
    display: block;
}

.recipe-thumbnail img {
    object-fit: cover;
    height: 140px;
    width: 420px;
    border-radius: 15px;
    margin: 0 auto;
}
